<!doctype html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vicentra - MESIN UV</title>
  <meta name="description"
    content="Mesin UV Terbaik, Jual Mesin UV, Jual Mesin Digital Printing Terbaik, Distributor Mesin UV, Distributor Mesin Digital Printing" />
  <meta name="robots" content="index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
  <meta property="og:title" content="MESIN UV" />
  <meta property="og:description"
    content="Mesin UV Terbaik, Jual Mesin UV, Jual Mesin Digital Printing Terbaik, Distributor Mesin UV, Distributor Mesin Digital Printing" />
  <meta property="og:url" content="https://mesinuv.com/" />
  <meta property="og:site_name" content="Mesin UV" />
  <meta name="twitter:title" content="MESIN UV" />
  <meta name="twitter:description"
    content="Mesin UV Terbaik, Jual Mesin UV, Jual Mesin Digital Printing Terbaik, Distributor Mesin UV, Distributor Mesin Digital Printing" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TB3V6DMQ');</script>
  <!-- End Google Tag Manager -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H9C3WN2N42"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-H9C3WN2N42');
  </script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TB3V6DMQ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="app">
    <!-- HEADER -->
    <header class="border-b-2 py-4">
      <div class="lg:w-[80vw] mx-5 lg:mx-auto flex justify-between items-center relative">
        <img src="./assets/images/logo-vicentra-black.webp" alt="logo-vicentra-black" class="h-[2.375rem]">
        <div class="lg:hidden">
          <i :class="[isMenuShow ? 'fa-solid fa-xmark text-2xl' : 'fa-solid fa-bars text-2xl']" class=""
            @click="toggleMenu"></i>
        </div>
        <ul :class="[isMenuShow ? 'visible' : 'invisible']"
          class="lg:visible flex flex-col lg:flex-row lg:items-center gap-2 lg:gap-5 absolute lg:static top-[3.125rem] left-0 right-0 bg-white lg:bg-transparent shadow lg:shadow-none p-2 lg:p-0 rounded lg:rounded-none">
          <li><a href="https://vicentra.co.id" class="beranda hover:underline">Beranda</a></li>
          <li><a href="https://vicentra.co.id/product/mesin/digital-printing/uv"
              class="semua_produk hover:underline">Produk</a>
          </li>
          <li><a href="https://vicentra.co.id/terms-and-conditions"
              class="layanan_dan_perbaikan hover:underline">Layanan dan Perbaikan</a>
          </li>
          <li><a href="https://vicentra.co.id/about-us" class="tentang_kami hover:underline">Tentang Kami</a></li>
        </ul>
      </div>
    </header>
    <!-- HEADER -->

    <!-- HERO SECTION -->
    <section class="lg:w-[80vw] mx-5 lg:mx-auto grid lg:grid-cols-2 items-center mx-5 px-5 py-[3.125rem] bg-[#f7f7f7]">
      <div>
        <h1 class="text-4xl font-semibold">
          MESIN UV TERBAIK, PERIOD
        </h1>
        <p class="mt-5">
          Selamat datang di website kami! Temukan mesin digital printing uv berkualitas dengan hasil tahan lama dan
          harga terbaik di sini.
        </p>
        <a href="https://vicentra.co.id/product/mesin/digital-printing/uv" target="_blank" class=" semua_produk inline-block capitalize mt-5 px-10 py-3 hover:bg-[#1B0000] hover:text-white border border-[#1B0000]
          transition duration-300">lihat
          semua produk</a>
      </div>
      <div class="order-first lg:order-none">
        <img src="./assets/images/mesin/nocai-nc-uv0609peiii-ii.webp" alt="mesin-neu-jet">
      </div>
    </section>
    <!-- HERO SECTION -->

    <!-- PRODUCT SECTION -->
    <section>
      <div class="lg:w-[80vw] mx-5 lg:mx-auto">
        <div v-for="product in products">
          <div class="flex justify-center mt-10">
            <div class="w-[80vw] h-[1px] bg-[#1B0000]"></div>
          </div>
          <div class="grid lg:grid-cols-2 gap-5 items-center my-[5rem]">
            <div>
              <h2>{{product.name}}</h2>
              <h1 class="text-3xl font-semibold my-5">{{product.tagline}}</h1>
              <div v-html="product.short_description"></div>
              <a v-bind:href="product.link_product" target="_blank"
                class="detail_produk inline-block capitalize font-medium text-white bg-black rounded-md px-10 py-3 mt-5">lebih
                lengkap</a>
            </div>
            <div class="order-first lg:order-none">
              <a v-bind:href="product.link_product" target="_blank">
                <img v-bind:src="product.photo" v-bind:alt="product.name">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- PRODUCT SECTION -->

    <!-- CTA SECTION -->
    <section class="mb-[2.5rem]">
      <h1 class="capitalize text-3xl font-semibold text-center">Hubungi Kami</h1>
      <div class="relative flex justify-center mt-5">
        <div class="w-[80vw] h-[2px] bg-[#e1e1e1]"></div>
        <div class="w-[10vw] h-[2px] bg-[#1B0000] absolute"></div>
      </div>
      <div class="lg:w-[80vw] mx-5 lg:mx-auto grid lg:grid-cols-12 gap-4 mt-10">
        <a v-for="(sales, index) in salesPeople" :key="index"
          :href="'https://api.whatsapp.com/send?phone=' + sales.phone + '&text=Hallo%20Vicentra,%20Saya%20Ingin%20Memesan%20Mesin%20UV.'"
          target="_blank" :class="[
            (sales.id === 1) ? 'bg-[#006db8]' : 'bg-green-600',
            'sales_' + sales.slug + '_cta_link',
            'lg:col-span-6 h-[5rem] flex items-center gap-[1.5rem] rounded-full relative py-2 pl-[7rem]'
          ]">
          <div class="absolute left-0">
            <div class="w-[5.5rem] h-[5.5rem] rounded-full border-[0.188rem] border-white relative">
              <img :src="sales.photo" :alt="sales.name" class="rounded-full" />
              <div
                class="w-[1.5rem] h-[1.5rem] flex justify-center items-center bg-white rounded-full absolute right-[-0.75rem] top-[50%] transform translate-y-[-50%]">
                <i class="fa-brands fa-whatsapp text-green-500"></i>
              </div>
            </div>
          </div>
          <div class="mr-4">
            <div class="flex gap-2">
              <h1 class="text-sm font-medium text-white/50 capitalize">
                {{sales.name}}
              </h1>
              <span
                class="flex justify-center items-center text-xs font-semibold text-white bg-white/20 px-2 rounded-md capitalize">
                online
              </span>
            </div>
            <p class="w-full text-sm font-medium text-white mt-1">
              {{sales.additional_sentence}}
            </p>
          </div>
        </a>
      </div>
    </section>
    <!-- CTA SECTION -->
  </div>

  <script defer type="module" src="./assets/js/app.js"></script>
</body>

</html>